html
  body
    h1 Kim's Convenience
    h2 Developed By
    ul 
      for dev in showdata.developedBy
        li= dev
    h2 Starring
    ul
      for actor in showdata.starring
        li= actor
    h2 Seasons
    ul
      for season in showdata.seasons
        li
          a(href= `/season/${season.number}`)= `Season ${season.number}`